* {
    background:     #1E1E2E;  /* base */
    background-alt: #313244;  /* surface0 */
    foreground:     #CDD6F4;  /* text */
    selected:       #CBA6F7;  /* mauve (accent) */
    active:         #45475A;  /* surface1 */
    urgent:         #F38BA8FF;/* red */
}
